@import url("../fonts/utopia-regular_wqNW0/Utopia__Regular.ttf");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url(../img/FONDO1.webp) fixed;
    background-position: 0% 0%;
}
@keyframes vintage{
    0%{
        opacity: 1;
        color:limegreen;
    }
    30%{
        opacity:0.5;
        color:darkgoldenrod;
    }
    45%{
        opacity: 1;
        color:darkgoldenrod;
    }
    60%{
        opacity: 0.5;
        color:darkorange;
    }
    75%{
        opacity: 1;
        color:darkorange;
    }
    85%{
        opacity: 0.5;
        color:darkorchid;
    }
    100%{
        opacity: 1;
        color:darkorchid;
    }
}
.vintage {
font-size: 50px;
font-weight: bold;
animation:vintage 7s alternate infinite;
text-align: center;
padding-bottom: 30px;
}
@keyframes desaparecer{
    0% { opacity: 1;}
    50% { opacity: 0.75;}
    100% { opacity: 1;}
}
h1{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 3px 10px rgb(255, 106, 131);
}
.titulo{
    text-align: center;
    font-size: 50px;
    color: #b3b3b3;
    text-shadow: 6px 7px 15px black;
    animation: desaparecer 1.4s linear infinite;
}
/*ASTRO COLORES */
@keyframes rainbow {
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    45% { color:  rgb(18, 217, 18); }
    60% { color: rgb(0, 102, 255); }
    70% { color: rgb(125, 4, 212); }
    85% { color: violet; }
    100% { color: red; }
}
/* UTOPIA PARPADEO */
@keyframes parpadeo {
from {color:white;}
to {color:black;}

}
/* RODEO WAVE */
.wave-text {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 3px 8px black;
    text-align: center;
    color:rgb(81, 30, 14);
    padding-bottom: 17px;
  }

  .wave-text span {
    display: inline-block;
    animation: wave 1s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.1s); /* Cada letra tiene un delay diferente */
  }

  @keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .psichodelic {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    font-size: 31px;
    font-weight: bold;
    text-shadow: 2px 3px 8px black;
    text-align: center;
    animation: letter 1s linear infinite;
    padding-bottom: 20px;
  }

  .psichodelic span {
    display: inline-block;
    letter-spacing: -8px;
    animation: letter 1s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.3s); /* Cada letra tiene un delay diferente */
  }

  @keyframes letter {
    0% { color: rgb(129, 0, 0); }
    30% { color: rgb(3, 71, 174); }
    60% {color:rgb(53, 53, 112)}
    90% { color: rgb(62, 30, 85); }
    100% { color: black; }
  }

.parpadeante {
    font-family: Utopia_Regular;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 3px 8px black;
    animation: parpadeo 0.3s infinite;
    text-align: center;
    padding-bottom: 17px;
}
.rainbow-text {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 3px 8px black;
    animation: rainbow 7.5s alternate infinite;
    padding-bottom: 17px;
}
.BARRA{
    border: 1px solid lime;
    height: 25px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    height: 750px;        
}
/* CAJAS ANIMADAS */
.box-1:hover {
    transform: translateY(-10px);
}
.box-2:hover {
    transform: translateY(-10px);
}
.box-3:hover {
    transform: translateY(-10px);
}
.box-4:hover {
    transform: translateY(-10px);
}
.box-5:hover {
    transform: translateY(-10px);
}

.container h2{
    position: relative;
    bottom: 25px;
}

/*CAJAS */
.box-1 {
    background-color:rgba(47, 47, 47, 0.45);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 320px;
    height: 330px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align:center;
    position: relative;
    transition: transform 0.5s ease;
    img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}
.box-2 {
    background-color:rgba(47, 47, 47, 0.45);;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 320px;
    height: 330px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.5s ease;
    img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}
.box-3 {
    background-color: rgba(47, 47, 47, 0.45);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 320px;
    height: 330px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.5s ease;
    img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}
.box-4 {
    background-color: rgba(47, 47, 47, 0.45);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 320px;
    height: 330px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.5s ease;
    img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}
.box-5 {
    background-color: rgba(47, 47, 47, 0.45);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 320px;
    height: 330px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.5s ease;
    img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}
/*
.gif- {
    background-image: url(travisnazi.gif)  ;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    width: 100vw;           
    height: 100vh;          
    background-image: url('tu-imagen.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
    */